<div class="container">
    <div class="navigation">
        <div class="logo">
            <a href="/#">
                <img src="assets/images/logo.jpg">
            </a>
        </div>
        <div class="items">
            <a routerLink="home" routerLinkActive="active-link">Home</a>
            <a routerLink="services" routerLinkActive="active-link">Services</a>
            <a routerLink="about-us" routerLinkActive="active-link">About Us</a>
            <a routerLink="contact" routerLinkActive="active-link">Contact Us</a>
        </div>
    </div>
</div>
<div class="router-outlet">
    <router-outlet></router-outlet>
</div>
<div class="footer">
    <div class="row">
        <div class="col-9">Copyright © 2022 ITProHire. All rights reserved.</div>
        <div class="col align-right">
            <a href="https://twitter.com" class="fa fa-twitter"></a>
            <a href="https://twitter.com" class="fa fa-facebook"></a>
            <a href="https://twitter.com" class="fa fa-instagram"></a>
        </div>
    </div>
</div>