/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  margin: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.bg-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.relative {
  position: relative;
}

.text-white {
  color: white;
}
.tracking-tight {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.md\:text-5xl {
  font-size: 3rem;
  line-height: 1.5rem;
}

.md\:text-center {
  text-align: center;
}
.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  .details {
    padding-left: 2rem;
    max-width: 90rem;
    margin-left: auto;
    margin-right: 0px;
    display: -webkit-box;

    .transparent-button {
      -webkit-appearance: button;
      background-color: transparent;
      background-image: none;
      border: 0;
      padding: 0px;
    }
  }
  .section-background {
    background: #f1f5f9;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    .p-details {
      padding-top: 25%;
    }
  }
}

.text-blue-100 {
  --tw-text-opacity: 1;
  color: rgb(219 234 254 / var(--tw-text-opacity));
}

.text-lg {
  font-size: 1.125rem;
  line-height: 2rem;
}

.items-center {
  align-items: center;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.p-1\.5 {
  padding: 1.5rem;
}

.group:hover,
.group-active {
  background: hsla(0, 0%, 100%, 0.05);
  * {
    cursor: pointer;
    color: white;
  }
}
