<div class="home">
    <h1>Consulting
        <span class="relative whitespace-nowrap text-blue-600"><svg aria-hidden="true" viewBox="0 0 418 42" class="svg"
                preserveAspectRatio="none">
                <path
                    d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z">
                </path>
            </svg><span class="relative">with high-value</span></span>
        professional services.
    </h1>
    <div class="details">
        <p>IT ProHire is a leading global consulting and IT services firm that offers a wide range of solutions with
            high-value professional services
        </p>
    </div>
</div>
<div class="section bg-blue relative">
    <div class="relative">
        <div class="mission md:text-center">
            <h2 class="text-white tracking-tight md:text-5xl">Our Mission</h2>
            <p class="text-lg tracking-tight text-blue-100">All the services you need, all in one place.</p>
        </div>
    </div>
    <div class="grid items-center lg:grid-cols-12 tabs">
        <div class="col-span-5">
            <div class="mission-details-1" role="tablist" aria-orientation="vertical">
                <div class="group relative p-1.5" (click)="activeTab = 'it-training';">
                    <h3>
                        <button class="grid-button text-blue-100 hover:text-white">
                            <span>IT Training</span>
                        </button>
                    </h3>
                    <p class="text-blue-100 hover:text-white group-hover:text-white">
                        Keep track of everyone's salaries and whether or not they've been paid. Direct deposit not
                        supported.
                    </p>
                </div>
                <div class="group relative p-1.5" (click)="activeTab = 'it-staffing';">
                    <h3>
                        <button class="grid-button text-blue-100 hover:text-white">
                            <span>IT Staffing</span>
                        </button>
                    </h3>
                    <p class="text-blue-100 hover:text-white">
                        Keep track of everyone's salaries and whether or not they've been paid. Direct deposit not
                        supported.
                    </p>
                </div>
                <div class="group relative p-1.5" (click)="activeTab = 'mock-interviews';">
                    <h3>
                        <button class="grid-button text-blue-100 hover:text-white">
                            <span>Mock Interviews</span>
                        </button>
                    </h3>
                    <p class="text-blue-100 hover:text-white">
                        Keep track of everyone's salaries and whether or not they've been paid. Direct deposit not
                        supported.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-span-7">
            <div *ngIf="activeTab == 'it-training'">
                <p class="text-blue-100 hover:text-white letter-spacing">Where passion hits the road to success. We are
                    always looking
                    for passionate candidates who are
                    willing to learn and get trained with our amazing training staff. We have workshops, hiring events,
                    mock interviews and many more.
                    Our world class professional teaching staff will train you for the real world and also provide the
                    additional network you are looking for. To learn more about our training program please contact us
                    at info@itprohire.com</p>
            </div>
            <div *ngIf="activeTab == 'it-staffing'">
                <p class="text-blue-100 hover:text-white letter-spacing">We vet our candidates and groom them to become
                    finest IT
                    consultants you are looking for. We have unique process in finding right talent and a very capable
                    team in training the candidates to be perfect for the professional world.
                    Looking for consultants who can deliver multitude of skillset ? Look no further please reach out to
                    us at info@itprohire.com and we will connect you with the right candidates.</p>
            </div>
            <div *ngIf="activeTab == 'mock-interviews'">
                <p class="text-blue-100 hover:text-white letter-spacing">We provide Industry-standard mock interviews to
                    analyze and
                    provide thorough feedback on what you
                    need to improve on to pass your upcoming interviews. we have a qualified team to conduct your Mocks
                    similar to the technical rounds conducted Real Time</p>
            </div>
        </div>
    </div>
</div>